h1{
    color:#8b008b
}
*{
    background-color:#ba55d3
}

.heading{
    background-color:#7b68ee;
    display:flex;
    justify-content:space-between
}

.name{
display:flex;
justify-content:space-evenly;
flex-wrap:wrap;    
}



